<md-card class="skills-card">
    <md-card-header>
        <md-card-title><h3>Skills</h3></md-card-title>
    </md-card-header>
    <md-card-content>
            <p>Diseño de sistemas de información.</p>
            <p>Diseño y normalización de Bases de datos.</p>
            <p>Programación orientada a objetos.</p>
            <p>Patrones de diseño de software: MVC, patrón de repositorio, patrón factory, patrón de estrategias, patrón de adaptadores, arquitectura hexagonal.</p>
            <p>Inyección de dependencias, lógica desacoplada.</p>
            <p>Principios SOLID.</p>
            <p>Desarrollo orientado a pruebas.</p>
            <p>PHP: Laravel 5, CodeIgniter, namespaces, POO. Composer. Web Services: API REST, API JSON.</p>
            <p>Uso de Redis y Memcached como motor de caché.</p>
            <p>Bases de datos: MySQL, PostgreSQL.</p>
            <p>JavaScript: JSON, AngularJs (directivas/componentes), Angular 4, PolymerJS, NodeJs, Jquery, AJAX, Webcomponents con Polymer js. NPM, Bower,Gulp.</p>
            <p>Aplicaciones móviles empaquetadas/híbridas: Ionic Framework.</p>
            <p>API’s RESTful con Nodejs. </p>
            <p>GIT y SVN: integraciones, resolución de conflictos.</p>
            <p>Linux.</p>
            <p>Proactividad.</p>
            <p>Autodidacta. Disponibilidad para aprender nuevas cosas y emprender retos.</p>
        
    </md-card-content>
</md-card>
