<md-card class="profile-card">
    <md-card-header>
        <md-card-title>
            <h3>{{firstName}} {{lastName}}</h3></md-card-title>
        <md-card-subtitle>{{description}}</md-card-subtitle>
    </md-card-header>
    <img md-card-md-image class="profile-header-image">
    <md-card-content>
        <p>{{email}}</p>
        <p>{{phone}}</p>
        <p><a href="{{linkedin}}">{{linkedin}}</a></p>
        <p><a href="{{github}}">{{github}}</a></p>
        <p><a href="{{_link.url}}">{{_link.title}}</a></p>
    </md-card-content>
</md-card>
